.overall_container{
	width: 80%;
	margin: 0 auto;
}

.add_container{
	width: 80%;
	margin: 0 auto;
}

.table{
	position: relative;
	top: 50px;
}

#buttons{
	position: relative;
	top: 40px;
	padding-left: 100px;
}